Medibox_with_IOT/2102221P_Hettiarachchi.S.L/Current flow jason file (node red)/flows.json
[
    {
        "id": "b73522ccb663660c",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3a15966e603207ca",
        "type": "ui_switch",
        "z": "b73522ccb663660c",
        "name": "Main Switch",
        "label": "switch",
        "tooltip": "",
        "group": "202474e67342a25b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 80,
        "wires": [
            [
                "8a20ab5139a479dd"
            ]
        ]
    },
    {
        "id": "8a20ab5139a479dd",
        "type": "mqtt out",
        "z": "b73522ccb663660c",
        "name": "",
        "topic": "ON-OFF-MY",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f6143ae617fe4c92",
        "x": 470,
        "y": 80,
        "wires": []
    },
    {
        "id": "609af7963c5df323",
        "type": "ui_switch",
        "z": "b73522ccb663660c",
        "name": "Schedule Switch",
        "label": "switch",
        "tooltip": "",
        "group": "de244aece5c18df1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "0de74d39a0993382"
            ]
        ]
    },
    {
        "id": "0de74d39a0993382",
        "type": "change",
        "z": "b73522ccb663660c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "isScheduled",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 280,
        "wires": [
            [
                "420a27effdf98a61"
            ]
        ]
    },
    {
        "id": "f58039b2f9db2a69",
        "type": "ui_date_picker",
        "z": "b73522ccb663660c",
        "name": "",
        "label": "ON",
        "group": "de244aece5c18df1",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "4d60ceca5ec6fa1b"
            ]
        ]
    },
    {
        "id": "78341e3f9d84fb68",
        "type": "ui_text_input",
        "z": "b73522ccb663660c",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "de244aece5c18df1",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 200,
        "y": 360,
        "wires": [
            [
                "ca38fa8478f3d56a"
            ]
        ]
    },
    {
        "id": "4d60ceca5ec6fa1b",
        "type": "change",
        "z": "b73522ccb663660c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ScheduleDate",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 320,
        "wires": [
            [
                "420a27effdf98a61"
            ]
        ]
    },
    {
        "id": "ca38fa8478f3d56a",
        "type": "change",
        "z": "b73522ccb663660c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ScheduleTime",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 360,
        "wires": [
            [
                "420a27effdf98a61"
            ]
        ]
    },
    {
        "id": "420a27effdf98a61",
        "type": "function",
        "z": "b73522ccb663660c",
        "name": "function 1",
        "func": "let isScheduled = global.get(\"isScheduled\");\nlet ScheduleDate = global.get(\"ScheduleDate\");\nlet ScheduleTime = global.get(\"ScheduleTime\");\n\nif(isScheduled && ScheduleDate && ScheduleTime){\n    \n    let schedule = ScheduleDate + ScheduleTime;\n\n    if (Date.now() > schedule){\n        return{\n            payload:\"OLDER\"\n        }\n    }else{\n        return{\n            payload: schedule \n        }\n    }\n\n\n} else if (isScheduled === false){\n    return{\n        payload:\"NOT-SCHEDULED-ON\" \n    }\n\n}else{\n    return {\n        payload: null\n    }\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 220,
        "wires": [
            [
                "75783837119bf1b9"
            ]
        ]
    },
    {
        "id": "75783837119bf1b9",
        "type": "switch",
        "z": "b73522ccb663660c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "NOT-SHEDULED-ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OLDER",
                "vt": "str"
            },
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 950,
        "y": 220,
        "wires": [
            [
                "8a063e7fcd97f851"
            ],
            [
                "5f2dbebd37ed79a2"
            ],
            [
                "eee5382bbf8a1c46"
            ],
            [
                "38f3e337c5ebc777"
            ]
        ]
    },
    {
        "id": "8a063e7fcd97f851",
        "type": "function",
        "z": "b73522ccb663660c",
        "name": "function 2",
        "func": "return{\n    payload:\"NOT\",\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 160,
        "wires": [
            [
                "305ad43c93993150"
            ]
        ]
    },
    {
        "id": "eee5382bbf8a1c46",
        "type": "function",
        "z": "b73522ccb663660c",
        "name": "function 3",
        "func": "return{\n    payload:Math.round(msg.payload/1000),\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 200,
        "wires": [
            [
                "305ad43c93993150"
            ]
        ]
    },
    {
        "id": "5f2dbebd37ed79a2",
        "type": "function",
        "z": "b73522ccb663660c",
        "name": "function 4",
        "func": "return{\n    payload:\"Please enter a future time\"\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 260,
        "wires": [
            [
                "2fc343e32a6e39c6"
            ]
        ]
    },
    {
        "id": "2fc343e32a6e39c6",
        "type": "ui_toast",
        "z": "b73522ccb663660c",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1390,
        "y": 260,
        "wires": []
    },
    {
        "id": "38f3e337c5ebc777",
        "type": "function",
        "z": "b73522ccb663660c",
        "name": "function 5",
        "func": "return{\n    payload:\"Please enter a valid date and time\"\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 320,
        "wires": [
            [
                "2fc343e32a6e39c6"
            ]
        ]
    },
    {
        "id": "305ad43c93993150",
        "type": "mqtt out",
        "z": "b73522ccb663660c",
        "name": "",
        "topic": "SCH-ON-MY",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f6143ae617fe4c92",
        "x": 1390,
        "y": 180,
        "wires": []
    },
    {
        "id": "a6e69242dacb2492",
        "type": "mqtt in",
        "z": "b73522ccb663660c",
        "name": "ESP-ON-OFF",
        "topic": "ON-OFF-ESP-MY",
        "qos": "2",
        "datatype": "auto",
        "broker": "f6143ae617fe4c92",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 20,
        "wires": [
            [
                "3a15966e603207ca"
            ]
        ]
    },
    {
        "id": "8f85bcc770a406c2",
        "type": "mqtt in",
        "z": "b73522ccb663660c",
        "name": "SCH-ESP-ON",
        "topic": "SCH-ESP-ON-MY",
        "qos": "2",
        "datatype": "auto",
        "broker": "f6143ae617fe4c92",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 160,
        "wires": [
            [
                "4675fe7ba0eb0f48"
            ]
        ]
    },
    {
        "id": "4675fe7ba0eb0f48",
        "type": "function",
        "z": "b73522ccb663660c",
        "name": "function 6",
        "func": "\nreturn {\n    payload:msg.payload === 1\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 160,
        "wires": [
            [
                "609af7963c5df323"
            ]
        ]
    },
    {
        "id": "623408416e7a9852",
        "type": "mqtt in",
        "z": "b73522ccb663660c",
        "name": "",
        "topic": "TEMPERATURE-MY",
        "qos": "2",
        "datatype": "auto",
        "broker": "f6143ae617fe4c92",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 460,
        "wires": [
            [
                "83464a8d42964375",
                "b44dbb1f18efd245"
            ]
        ]
    },
    {
        "id": "83464a8d42964375",
        "type": "ui_gauge",
        "z": "b73522ccb663660c",
        "name": "",
        "group": "f9734d931b322951",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 420,
        "wires": []
    },
    {
        "id": "b44dbb1f18efd245",
        "type": "ui_chart",
        "z": "b73522ccb663660c",
        "name": "",
        "group": "f9734d931b322951",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "8ef18029d6427105",
        "type": "mqtt in",
        "z": "b73522ccb663660c",
        "name": "",
        "topic": "LIGHTINTENSITY-MY",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5698786a385e05ee",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 780,
        "wires": [
            [
                "6691c716d1fa110a",
                "6df254ee41a960e2"
            ]
        ]
    },
    {
        "id": "6691c716d1fa110a",
        "type": "ui_gauge",
        "z": "b73522ccb663660c",
        "name": "",
        "group": "e299e376d06449ff",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 390,
        "y": 740,
        "wires": []
    },
    {
        "id": "6df254ee41a960e2",
        "type": "ui_chart",
        "z": "b73522ccb663660c",
        "name": "",
        "group": "a367432217a1b766",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 390,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "5e2c37f70a7b901e",
        "type": "ui_slider",
        "z": "b73522ccb663660c",
        "name": "",
        "label": "Minimum Angle",
        "tooltip": "",
        "group": "adfb9ff1ab0faa9e",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "180",
        "step": 1,
        "className": "",
        "x": 180,
        "y": 940,
        "wires": [
            [
                "ad15c9faa5734c2f"
            ]
        ]
    },
    {
        "id": "2c658705f40e65ec",
        "type": "ui_slider",
        "z": "b73522ccb663660c",
        "name": "",
        "label": "Controlling Factor",
        "tooltip": "",
        "group": "aec5975599843f99",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": "0.01",
        "className": "",
        "x": 190,
        "y": 1000,
        "wires": [
            [
                "e70c4d2f188d8e73"
            ]
        ]
    },
    {
        "id": "ad15c9faa5734c2f",
        "type": "mqtt out",
        "z": "b73522ccb663660c",
        "name": "",
        "topic": "MINIMUM-ANG-MY",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5698786a385e05ee",
        "x": 440,
        "y": 940,
        "wires": []
    },
    {
        "id": "e70c4d2f188d8e73",
        "type": "mqtt out",
        "z": "b73522ccb663660c",
        "name": "",
        "topic": "CONTROL-FAC-MY",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5698786a385e05ee",
        "x": 440,
        "y": 1000,
        "wires": []
    },
    {
        "id": "d79fc02ace6cfbf0",
        "type": "ui_dropdown",
        "z": "b73522ccb663660c",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "a6ab9ea48d8c1571",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "A",
                "value": 1,
                "type": "num"
            },
            {
                "label": "B",
                "value": 2,
                "type": "num"
            },
            {
                "label": "C",
                "value": 3,
                "type": "num"
            },
            {
                "label": "Cutom medicine",
                "value": 4,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 160,
        "y": 1200,
        "wires": [
            [
                "2d4826d84b02bf31"
            ]
        ]
    },
    {
        "id": "2d4826d84b02bf31",
        "type": "mqtt out",
        "z": "b73522ccb663660c",
        "name": "",
        "topic": "DROP-DOWN-MY",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5698786a385e05ee",
        "x": 550,
        "y": 1200,
        "wires": []
    },
    {
        "id": "5423b6823cc5dca0",
        "type": "mqtt in",
        "z": "b73522ccb663660c",
        "name": "",
        "topic": "MAXIMUM-INT-LDR",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5698786a385e05ee",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 600,
        "wires": [
            [
                "c63f6d92e6f22a3a"
            ]
        ]
    },
    {
        "id": "c63f6d92e6f22a3a",
        "type": "ui_text",
        "z": "b73522ccb663660c",
        "group": "a367432217a1b766",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 490,
        "y": 600,
        "wires": []
    },
    {
        "id": "202474e67342a25b",
        "type": "ui_group",
        "name": "Main Switch",
        "tab": "24447536ac4193f6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f6143ae617fe4c92",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "de244aece5c18df1",
        "type": "ui_group",
        "name": "Schedule",
        "tab": "24447536ac4193f6",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f9734d931b322951",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "24447536ac4193f6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5698786a385e05ee",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e299e376d06449ff",
        "type": "ui_group",
        "name": "Light Intensity",
        "tab": "24447536ac4193f6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a367432217a1b766",
        "type": "ui_group",
        "name": "Light Intensity",
        "tab": "24447536ac4193f6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "adfb9ff1ab0faa9e",
        "type": "ui_group",
        "name": "Minimum Angle",
        "tab": "24447536ac4193f6",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aec5975599843f99",
        "type": "ui_group",
        "name": "Controlling Factor",
        "tab": "24447536ac4193f6",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a6ab9ea48d8c1571",
        "type": "ui_group",
        "name": "SELECT MEDICINE",
        "tab": "24447536ac4193f6",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "24447536ac4193f6",
        "type": "ui_tab",
        "name": "Medibox",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]